<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #D7B8F3;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">The Awwards</a>
        </div>

        <!-- Adding a search form  -->
        <!-- <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Article" name="article">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i
                                class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>

            </form>
        </div> -->
        <!-- search form end -->
        <div class="col-sm-6 col-md-6">
            {% if user.is_authenticated %}
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                        aria-expanded="false">Account
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{%url 'home'%}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'new-project' %}">Post</a>
                        </li>
                        <li> <a href="{% url 'profile' %}">Profile</a></li>
                        <li> <a href="{% url 'login' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <li>
            <li> <a href="accounts/register/">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            </li>

            {% endif %}
        </div>
        <form class="form-inline" role="search" action="{% url 'search_results' %}">
            <input class="form-control mr-sm-2" type="text" class="form-control" placeholder="search"
                aria-label="Search" name="keyword">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><i class="fa fa-search"
                    aria-hidden="true"></i>Search</button>
        </form>
    </div>
</nav>